uwsgi==2.0.22
gunicorn==21.2.0
flask==3.0.0
flask-sqlalchemy==3.1.1
pymysql==1.1.0
numpy==1.26.0
openpyxl==3.1.2
transformers==4.34.1
datasets==2.14.6
vncorenlp==1.0.3
tqdm==4.66.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0

--extra-index-url https://download.pytorch.org/whl/cpu
torchvision