flask==3.0.0
flask-sqlalchemy==3.1.1
pymysql==1.1.0
numpy==1.26.0
openpyxl==3.1.2
transformers==4.35.1
datasets==2.14.6
vncorenlp==1.0.3
tqdm==4.66.1
torch==2.1.0
pandas==2.1.1
matplotlib==3.8.2
flask-login==0.6.3
numpy
torchvision