uwsgi==2.0.22
flask==3.0.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-admin==1.6.1
pymysql==1.1.0
pandas==2.1.1
numpy==1.26.0
openpyxl==3.1.2
selenium==4.13.0
torch==2.1.0
transformers==4.34.1
openpyxl==3.1.2
datasets==2.14.6
vncorenlp==1.0.3
matplotlib==3.8.2