<!-- Footer Start -->
<div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
    <div class="row py-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Liên Lạc</h5>
            <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>Số 01 Võ Văn Ngân, Phường Linh Trung,
                Thành phồ Thủ Đức</p>
            <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>+84 93 722 4069</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>19133022@student.hcmute.edu.vn</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Theo dõi</h5>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="https://facebook.com/hongtienhaolk2001"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Nông Sản</h5>
            <div class="m-n1">
                {% for c in categories %}
                    <a href="{{ url_for('category_list', category_id=c.id) }}"
                       class="btn btn-sm btn-secondary m-1">{{ c.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Logo</h5>
            <div class="row">
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->