<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">HCM<span
                    class="text-white font-weight-normal">UTE</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="{{ url_for('index') }}" class="nav-item nav-link active">Trang Chủ</a>
                <div class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Tin Tức</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        {% for c in categories %}
                        <a href="{{ url_for('news_list', category_id=c.id)  }}" class="dropdown-item">{{ c.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{ url_for('analysis') }}" class="nav-item nav-link">Phân Tích</a>
                <a href="{{ url_for('contact') }}" class="nav-item nav-link">Liên Hệ</a>
            </div>
            <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 400px;">
                <input name="keyword" type="text" class="form-control border-0" placeholder="Nhập Từ Khóa Để Tìm Kiếm">
                <div class="input-group-append">
                    <button class="input-group-text bg-primary text-dark border-0 px-3" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if current_user.is_authenticated %}
                    <a href="#" class="dropdown-item">Thông tin</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ url_for('user_logout')}}" class="dropdown-item">Đăng xuất</a>
                    {% else %}
                    <a href="{{ url_for('user_signin')}}" class="dropdown-item">Đăng nhập</a>
                    <a href="{{ url_for('user_signup')}}" class="dropdown-item">Đăng ký</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->