{% extends 'layout/base.html' %}
{% block title %}Phân Tích Tin Tức Nông Sản UTE{% endblock %}
{% block content %}
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h4 class="m-0 text-uppercase font-weight-bold center">Phân Tích Tin Tức Nông Sản</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="/analysis" method="POST">
                        <div class="form-group">
                            <input name="headline" type="text" class="form-control p-4" placeholder="Tiêu Đề Tin Tức" required="required"/>
                        </div>
                        <div class="form-group">
                            <textarea name="brief" class="form-control" rows="10" placeholder="Nội Dung" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                type="submit">Evaluation</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <table class="table">
                        {% if predict %}
                        <tr>
                            <th>Loại:</th>
                            <td>{{predict.category}}</td>
                        </tr>
                        <tr>
                            <th>Giá:</th>
                            <td>{{predict.price}}</td>
                        </tr>
                        <tr>
                            <th>Thị trường:</th>
                            <td>{{predict.market}}</td>
                        </tr>
                        <tr>
                            <th>Chính sách:</th>
                            <td>{{predict.polices}}</td>
                        </tr>
                        <tr>
                            <th>Nội Tại:</th>
                            <td>{{predict.internal}}</td>
                        </tr>
                        <tr>
                            <th>Ngoại Vi:</th>
                            <td>{{predict.external}}</td>
                        </tr>
                       {% else %}
                       <tr>
                            <th>Loại Nông Sản:</th>
                            <td>Chưa có thông tin</td>
                       </tr>
                       <tr>
                           <th>Giá Nông Sản:</th>
                           <td>Chưa có thông tin</td>
                       </tr>
                       <tr>
                           <th>Nông Sản:</th>
                           <td>Chưa có thông tin</td>
                       </tr>
                       <tr>
                           <th>Thị Trường:</th>
                           <td>Chưa có thông tin</td>
                       </tr>
                       <tr>
                           <th>Nội Tại:</th>
                           <td>Chưa có thông tin</td>
                       </tr>
                       <tr>
                           <th>Ngoại Vi:</th>
                           <td>Chưa có thông tin</td>
                       </tr>
                       {% endif %}
                    </table >
                </div>
            </div>
        </div>
    </div>
{% endblock %}